.contact {
    p {
        color: $defaultColor;
        text-align: left;
        padding: 10px 0 0 10px;
    }

    h3 {
        color: $color-text-subtitle;
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        padding: 20px;
    }

    .opening--information {
        display: flex;

        .days {
            flex-basis: 50%;
        }

        .hours {
            flex-basis: 50%;

        }

        @media all and (min-width: 768px) {
            width: 50%;
            margin: 0 auto;

            p {
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    .contact--form {
        max-width: 70%;
        margin: 0 auto;
        padding: 50px 10px;

        form {
            label {
                color: $defaultColor;
            }

            button {
                @include btn-primary;
                border: none;
                margin: 30px 0 0 0;
            }
        }

        @media all and (min-width: 1240px) {
            width: 50%;
        }
    }
}